@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");
h1 {
  font-size: 1rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 3rem; }

.aleman-idioma {
  background-image: url(../img/aleman.png);
  width: 50px;
  height: 50px;
  background-size: 50%;
  background-repeat: no-repeat;
  list-style: none; }

.español-idioma {
  background-image: url(../img/español.png);
  width: 50px;
  height: 50px;
  background-size: 50%;
  background-repeat: no-repeat;
  list-style: none; }

.ingles-idioma {
  background-image: url(../img/ingles.png);
  width: 50px;
  height: 50px;
  background-size: 50%;
  background-repeat: no-repeat;
  list-style: none; }

.btn, .btn-rounded {
  width: 50px;
  height: 45px;
  background-color: rgba(240, 231, 184, 0.76);
  color: white; }
  .btn:hover, .btn-rounded:hover {
    color: black; }

.btn-rounded {
  border-radius: 10px; }

.scale:hover {
  transform: scale(1.1); }

.transition {
  color: beige;
  transition: color 2s; }

.transition:hover {
  color: black; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.linear-gradient:hover {
  background: linear-gradient(to top, #ebddb1, rgba(27, 27, 27, 0));
  color: #816060;
  transition: transform 3s; }

.transform:hover {
  transform: translate(10px, 20px);
  transition: transform 3s; }

.redes-sociales {
  display: flex;
  top: 0%;
  height: 7vh; }
  .redes-sociales ul li {
    display: inline-block;
    width: 4rem;
    height: 1em;
    text-align: left; }
  .redes-sociales a {
    display: block;
    padding: 0px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px; }

.bg-style {
  background: linear-gradient(rgba(0, 0, 0, 0.295), black); }

.bg-style1 {
  background-color: rgba(240, 231, 184, 0.76); }

nav img {
  width: 100px;
  border-radius: 30px; }

.nav-container {
  width: 100%; }
  .nav-container h1 {
    color: whitesmoke;
    text-shadow: 0 0 8px black;
    font-size: 70px;
    font-weight: bolder; }
  .nav-container span {
    display: block; }

.navbar-nav a:hover {
  background-color: rgba(155, 134, 114, 0.295);
  border-radius: 2px; }

#navpie {
  display: flex;
  font-size: 9rem;
  margin-left: 10px; }
  #navpie ul {
    align-items: center; }
  #navpie li {
    display: inline-block;
    position: relative; }
  #navpie a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-decoration: solid; }
  #navpie a:hover {
    text-decoration: underline;
    color: black; }

* {
  margin: 0;
  padding: 0; }

*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Barlow Condensed", sans-serif; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

p {
  font-size: 2rem; }

h1 {
  display: flex;
  font-size: 4rem;
  flex-direction: column;
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.86);
  text-align: center;
  position: relative;
  top: 100px; }

h2 {
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: black;
  background-color: rgba(240, 231, 184, 0.76);
  font-weight: 700;
  margin-bottom: 2rem; }

.row img {
  height: 100px; }

.imagenes img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center; }

.servicio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .servicio p {
    line-height: 2;
    color: black;
    font-size: 1.6rem;
    font-weight: 800;
    height: 200px;
    width: 200px; }
  .servicio h3 {
    font-weight: 400px;
    margin-bottom: 15px;
    font-size: 2.6rem;
    color: black;
    text-decoration: underline; }

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: 23.3% 23.3% 23.3% 23.3%;
    column-gap: 1rem; } }

.container p {
  margin: 0, 0, 10px;
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9); }

.container p {
  display: block;
  margin-block-start: 5px;
  margin-block-end: 10px;
  margin-inline-start: 100px;
  margin-inline-end: 100px; }

.container img {
  padding: 0.5rem;
  display: flex;
  max-width: 70%;
  max-height: 5%;
  margin: 0 auto;
  border-radius: 10px; }

.idiomaPrueba {
  display: flex;
  justify-content: center; }

footer {
  color: black;
  text-align: left;
  background-color: rgba(240, 231, 184, 0.76);
  position: static;
  width: 100%;
  height: 50%;
  margin-top: 0; }
  footer img {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 60px;
    width: 60px; }

.tituloFooter {
  font-size: 25px;
  margin: 15px;
  text-align: right;
  color: black;
  font-weight: 700; }

.redFooter {
  margin-right: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap; }
  .redFooter ul li {
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 40px; }
  .redFooter a {
    font-size: 30px;
    color: black;
    text-transform: uppercase; }

.mapa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  margin: 5px; }

.copy-right p {
  display: flex;
  color: black;
  font-family: "Work Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center; }

/*Hero*/
.hero {
  width: 100%;
  height: 80vh;
  padding: 5em;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/a5.jpg); }

.heroNosotros {
  width: 100%;
  height: 80vh;
  padding: 5em;
  background: url(../img/a16.jpeg) center;
  background-size: cover;
  background-attachment: fixed; }

.heroContacto {
  width: 100%;
  height: 80vh;
  padding: 5em;
  background: url(../img/a5.jpg) center;
  background-size: cover;
  background-attachment: fixed; }

.heroProductos {
  width: 100%;
  height: 80vh;
  padding: 5em;
  background: url(../img/a9.jpg) center;
  background-size: cover;
  background-attachment: fixed; }

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 100px;
  grid-gap: 100px; }

.galeria__item {
  font-size: 20px;
  position: relative; }

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px; }
  .galeria__img img:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

.galeria__titulo {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.5), black);
  width: 100%;
  margin: 0;
  border-radius: 10px; }

.galeria__titulo:hover {
  background: linear-gradient(to top, #ebddb1, rgba(27, 27, 27, 0));
  color: #816060;
  transition: transform 5s; }

.textoItem {
  font-weight: 700;
  margin: 0 auto; }

@media (min-width: 768px) {
  .galeria-container {
    display: grid;
    margin-right: 100px;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 100px; } }

.formulario {
  background-color: rgba(117, 116, 116, 0.295);
  padding: 2rem;
  border-radius: 10px;
  scroll-snap-align: center;
  scroll-snap-stop: always; }
  .formulario legend {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700; }

@media (min-width: 768px) {
  .formulario {
    max-width: 800px;
    margin: 0 auto; } }

.contenedor-campos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.campo {
  margin-bottom: 1rem;
  width: 49.5%;
  font-size: 2rem; }

@media (min-width: 480px) {
  .campo {
    display: flex;
    align-items: center; } }

@media (min-width: 768px) {
  .campo {
    flex: 0 0 calc(50% - .5rem); } }

.campo label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: .5rem;
  display: block; }

@media (min-width: 480px) {
  .campo label {
    flex: 0 0 90px; } }

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
  width: 100%;
  padding: .5rem;
  border: none;
  border-radius: .5rem; }

@media (min-width: 768px) {
  :is(.campo) :is(
  input[type="text"],
  input[type="text"],
  input[type="tel"],
  input[type="mail"],
  textarea) {
    flex: 1; } }

.w-100 {
  flex: 0 0 100%; }

.campo textarea {
  height: 4rem; }

.enviar {
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end; }

.container-forms {
  max-width: 800px;
  margin: 0 auto;
  width: 50%; }
  .container-forms label {
    font-size: 1.6rem; }
  .container-forms input {
    font-size: 1.6rem; }
  .container-forms span {
    font-size: 1.6rem; }
  .container-forms option {
    font-size: 1.6rem; }
